html{
  background: black;
}

*{
  font-size: 22px;
  color: white;
  font-family: 'Cutive Mono', monospace;
}

hr {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    background-color: #444 !important;
    color: dimgrey !important;
    border: solid 1px #444 !important;
    height: 0px !important;
    width: 90% !important;
}

.padded{
  padding: 30px;
}

.vh-centered h1{
  font-size: 2.2em;
  margin: 0px;
}

.vh-centered h2{
  font-size: 1.6em;
  margin: 0px;

}

.vh-centered h3{
  font-size: 1.3em;
  margin: 0px;

}

.vh-centered{
  width: 100%;
  padding: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered{
  width: 100%;
  padding: 25px 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-gray{
  background:#333;
}

.bg-gray-dark{
  background:#111;
}
/*-----video-------*/
.video-container{
  width: 100%;
}

#video-valve-demo{
  width: 250px    !important;
  height: auto   !important;
}

/*-----Prices and services-------*/

.price-table{

}

.price-include{
  padding-top: 20px;
}

/*-----Cards with examples of games available-------*/

#container-games{
  width:100%;
  margin: auto;
}

.games-thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-thumbnail{
  margin: 15px;
  height: auto;
  width: 0 1 auto;
}

.game-thumbnail img{
  width: 200px;
  height: 200px;
}

.game-thumbnail img:hover{
  opacity: 0.4;
}
