html{
  background: black;
}

*{
  color: white;
  font-family: 'Cutive Mono', monospace;
}

hr {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    background-color: #444 !important;
    color: dimgrey !important;
    border: solid 1px #444 !important;
    height: 0px !important;
    width: 90% !important;
}

.padded{
  padding: 30px;
}

.vh-centered h1{
  font-size: 3.5em;
}

.vh-centered h2{
  font-size: 2.0em;
}

.vh-centered{
  width: 100%;
  background:#333;
  padding: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#mc_embed_signup{
  background:#333;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
  margin-bottom: 15px;
}
