html{
  background: black;
}

*{
  font-size: 22px;
  color: black;
  font-family: 'Cutive Mono', monospace;
}
h3, p {
  padding-bottom: 30px;

}

hr {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    background-color: #444 !important;
    color: dimgrey !important;
    border: solid 1px #444 !important;
    height: 0px !important;
    width: 90% !important;
}
.text-white{
  color:white;
}


.padded{
  padding: 30px;
}

.banner{
  background-size: cover !important;
  background-position: center;
}

.vh-centered h1{
  font-size: 2.2em;
  margin: 0px;
}

.vh-centered h2{
  font-size: 1.6em;
  margin: 0px;

}

.vh-centered h3{
  font-size: 1.3em;
  margin: 0px;

}

.vh-centered{
  width: 100%;
  padding: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered{
  width: 100%;
  padding: 0px 0px;
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.bg-gray{
  background:#333;
}

.bg-gray-light{
  background: #ccc;
}



/*-----video-------*/
#banner-to-your-events{
  padding-top: 80px;
}

.video-container{
  width: 100%;
}

#video-valve-demo{
  width: 250px    !important;
  height: auto   !important;
}

/*-----Prices and services-------*/
#banner-services{
  padding: 50px 0px;
}

.price-table{

}

.fill-gray{
  background-color: #bbb;
}

.price-include{
  padding-top: 50px;
}


/*-----Cards with examples of games available-------*/
#banner-games-experiences{
  padding-bottom: 80px;
}

#container-games{
  width:100%;
  margin: auto;
}

.games-thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-thumbnail{
  margin: 15px;
  height: auto;
  width: 0 1 auto;
}

.game-thumbnail img{
  width: 200px;
  height: 200px;
}

.game-thumbnail img:hover{
  opacity: 0.4;
}

/*formspree*/
#banner-form{
  padding: 100px 25px;
}

.form-container{
  border-style: dashed;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field{
  color: black;
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 5px;
  opacity:0.9;
  box-shadow: 5px 5px 8px 0px #111;
}
