html{
  background: black;
}

*{
  color: white;
  font-family: 'Cutive Mono', monospace;
}

.titles{
  padding: 25px;
}

.titles h1{
  font-size: 4.5em;
}

.titles h2{
  font-size: 2.0em;
}

#titles-and-form{
  width: 100%;
  background:#333;
  padding: 25px;
}


#mc_embed_signup{
  background:#333;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
  margin-bottom: 15px;
}

#wrapper-titles{
  margin-top: 200px;
  background: black;
}
